.forms-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 500px;
   max-width: 600px;
   --btns-border-radius: 5px;
   --navy-color: #001f3f;
}

.form-section-container {
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
}

.display-current-data-btn {
   width: 100%;
   padding: 1rem 0;
   font-size: 1.5rem;
   background-color: var(--navy-color);
   color: #fff;
   border: none;
   border-radius: var(--btns-border-radius);
}

.form {
   display: flex;
   flex-direction: column;
   width: 80%;
   gap: 1rem;
}

.input-container {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.input-container > label {
   font-size: 1.2rem;
}

.input-container > input {
   border-radius: 4px;
   border: 1px solid var(--navy-color);
   height: 2rem;
   padding-left: 0.5rem;
}

.form-btn {
   align-self: center;
   padding: 1rem 2rem;
   border-radius: 5px;
   border: none;
   background-color: var(--navy-color);
   color: #fff;
   font-size: 1.1rem;
}

.add-btn {
   padding: 1rem 3rem;
   width: fit-content;
   font-size: 1.2rem;
   background-color: transparent;
   border-radius: 2rem;
   border: 1px solid var(--navy-color);
}

.print-cv-btn {
   align-self: center;
   padding: 1rem 2rem;
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid #001f3f;
}

button {
   cursor: pointer;
   transition: transform 100ms ease-in;
}

button:hover {
   transform: scale(1.1);
}
