.resume-container {
   max-width: 800px;
   width: 800px;
   min-height: 1000px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   padding: 3.5rem 3rem;
}

.resume-section {
   margin-bottom: 0.6rem;
}

.resume-data-container {
   display: flex;
   flex-direction: column;
   gap: 0.1rem;
}

.section-heading {
   font-weight: bold;
   font-size: 1.1rem;
   padding-bottom: 0.2rem;
   margin-bottom: 0.4rem;
   border-bottom: 1px solid #737373;
}

.personal-data-section {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.name {
   font-weight: bold;
   font-size: 1.4rem;
}

.contact-info-container {
   display: flex;
}

.contact-info-container p:not(:last-child) {
   border-right: 1px solid black;
}

.contact-info-container p {
   padding: 0 0.3rem;
}

.line-1-container,
.line-2-container {
   display: flex;
   justify-content: space-between;
}

.resume-data-list {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.school-name {
   font-weight: bold;
}

.degree {
   font-style: italic;
}

.experience-data-container > .line-2-container {
   margin-bottom: 0.6rem;
}

.company {
   font-weight: bold;
}

.position {
   font-style: italic;
}

@media print {
   .header,
   .footer,
   .forms-container {
      display: none;
   }

   .resume-container {
      width: 100%;
      height: fit-content;
      box-shadow: none;
      padding: 0;
   }

   .main-content {
      margin: 0;
   }
}
